{{#if this.shouldSeePhotoWall}}
  <div class="top-section photo-wall">
    <h3>
      {{theme-i18n "photowall.name"}}
      {{#if this.isThisUser}}
        <DButton
          @action={{this.openAddPhotoComposer}}
          @icon="far-pen-to-square"
          class="btn-link btn-small"
        />
      {{/if}}
    </h3>
    <ConditionalLoadingSpinner @condition={{this.loading}}>
      {{#if this.photoList}}
        <div id="{{this.randomId}}" class="cooked photo-wall-cards-container">
          <div class="d-image-grid">
            {{#each this.photoList as |item|}}
              <p>
                <div class="lightbox-wrapper">
                  <a
                    class="lightbox"
                    href="{{item.image_url}}"
                    data-download-href="{{item.image_url}}"
                    data-topic-id="{{item.id}}"
                    title="{{item.fancy_title}}"
                  >
                    <img
                      src="{{item.image_url}}"
                      srcset="{{item.image_url}}"
                      alt="{{item.fancy_title}}"
                      width="{{item.image_width}}"
                      height="{{item.image_height}}"
                      loading="lazy"
                    />
                    <div class="meta">
                      {{d-icon "far-image"}}
                      <a
                        class="filename"
                        href="{{item.url}}"
                        onclick={{fn this.routeToTopic item}}
                      >
                        {{item.fancy_title}}
                      </a>
                      <span class="informations">
                        <span>
                          {{#if item.liked}}
                            {{d-icon "heart"}}
                          {{else}}
                            {{d-icon "far-heart"}}
                          {{/if}}
                          <span class="hidden">{{i18n
                              "about.like_count"
                            }}</span>
                          {{item.like_count}}
                        </span>
                        <span>
                          {{d-icon "comment"}}
                          <span class="hidden">{{i18n
                              "about.post_count"
                            }}</span>
                          {{item.reply_count}}
                        </span>
                      </span>
                      {{d-icon "discourse-expand"}}
                    </div>
                  </a>
                </div>
              </p>
            {{/each}}
          </div>
        </div>
      {{else}}
        {{theme-i18n "photowall.nothing"}}
      {{/if}}
    </ConditionalLoadingSpinner>
  </div>
{{/if}}